img {
  width: 120px;
  height: 180px;
  border-radius: 16px;
  border: solid;
  border-color: beige;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
}

.button-group {
  width: 200px;
  display: grid;
  gap: 10px;
}

button {
  width: 208px;
  min-height: 28px;
  background: linear-gradient(
    270deg,
    rgb(239, 213, 200) 0%,
    rgb(210, 233, 227) 25.96%,
    rgb(198, 222, 250) 53.37%,
    rgb(196, 199, 251) 79.33%,
    rgb(199, 182, 250) 100%
  );
  border-radius: 4px;
  color: black;
  font-weight: 700;
}

p,
label {
  font:
    1rem "Fira Sans",
    sans-serif;
  color: rgba(145, 162, 191, 0.862);
  font-weight: 700;
  margin: 0;
}

fieldset {
  width: 200px;
}

.test-page {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.text-input {
  border: solid;
  border-radius: 4px;
  min-height: 24px;
  min-width: 200px;
  width: 100px;
  background: rgba(169, 169, 169, 0.4509803922);
  color: rgba(145, 162, 191, 0.862);
  font-weight: 700;
  margin: 0px;
}

.canvas {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

.content-card {
  min-width: 320px;
  width: 320px;
  height: 380px;
  background-color: #1c1f26;

  border-radius: 16px;
  border-width: 2px;
  border-color: color(srgb 0.658823 0.701961 0.811765 / 0.2);
  border-style: solid;
  box-shadow:
    0 0 30px #3264964d,
    0 0 60px #1e3c5a33,
    inset 0 0 20px #00000080;

  &.short {
    height: 100%;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.layout {
  background: linear-gradient(180deg, #050510, #0a0a1a, #0f0a15);
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
}

.image-wrapper {
  position: relative;
  z-index: 0;
  margin-top: 8px;
}

.image-wrapper:after {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(8px);
  width: calc(100% + 8px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  transition: filter 0.3s ease-in-out;
  border-radius: 16px;
}

.image-wrapper:hover:after {
  filter: blur(25px);
}

.image-wrapper:empty {
  display: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

legend {
  font:
    1rem "Fira Sans",
    sans-serif;
  color: #87afa6;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(145, 162, 191, 0.862);
  font-weight: 700;
}

.secondary {
  font-family: "Press Start 2P", monospace;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  background: #7782aa;
  color: #474a6e;
}
.secondary:hover {
  color: #b088d0;
  text-shadow:
    0 0 10px rgba(88, 197, 11, 0.6),
    0 0 30px rgba(49, 33, 74, 0.4);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.answered {
  font-family: "Press Start 2P", monospace;
  image-rendering: pixelated;
  text-align: center;
}
