<div class="layout">
  <div class="canvas">
    <article class="content-card">
      <div class="article-content">
        <a [routerLink]="'toolshop-lobby'" title="Navigate to Toolshop Lobby">
          <button class="secondary">TOOLSHOP LOBBY</button>
        </a>

        <a [routerLink]="'toolshop-art'" title="Navigate to Toolshop Art">
          <button class="secondary">TOOLSHOP ART</button>
        </a>

        <a [routerLink]="'toolshop-animation'" title="Navigate to Toolshop Animation">
          <button class="secondary">TOOLSHOP ANIMATION</button>
        </a>

        <a [routerLink]="'toolshop-forest'" title="Navigate to Toolshop Forest">
          <button class="secondary">TOOLSHOP FOREST</button>
        </a>
        <div class="image-wrapper" (click)="talkAI()">
          <img src="assets/robot-image-low.jpg" alt="Code Nest Logo" class="logo" />
        </div>
      </div>
    </article>

    <article class="content-card short">
      <div class="article-content">
        <p class="{{answerStyle}}">{{ aiAnswer }}</p>
      </div>
    </article>


  </div>
</div>
