<div class="layout">
  <div class="canvas">
    <article class="content-card">
      <div class="article-content">
        <a [routerLink]="'toolshop-lobby'" title="Navigate to Toolshop Lobby">
          <button>TOOLSHOP LOBBY</button>
        </a>

        <a [routerLink]="'toolshop-art'" title="Navigate to Toolshop Art">
          <button>TOOLSHOP ART</button>
        </a>

        <a [routerLink]="'toolshop-animation'" title="Navigate to Toolshop Animation">
          <button>TOOLSHOP ANIMATION</button>
        </a>
        <div class="image-wrapper">
          <img src="assets/robot-image.png" alt="Code Nest Logo" class="logo" />
        </div>
      </div>
    </article>
  </div>
</div>